.feature-box {
    width: 100vw;
    display: flex;

    @media only screen and (max-width: $Desktop-small) {
        &__text {
            margin-top: 0;
        }
}
    @media only screen and (max-width: $Tablet-small) {    
        display: flex;
        flex-direction: column;
    }

    &__text--small {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $Tablet-small) {
            flex-direction: column;
        }
    }
    
    .text {
        text-align: left;

        @media only screen and (max-width: $Tablet-small) {
            text-align: center;     
         }
    }

    .text-small {
        text-align: center;
    }

    .main-text--feature {
        font-size: 1rem;
        margin-bottom: .25rem;
    }

    .sub-text--feature {
        max-width: 20rem;

        @media only screen and (max-width: $Desktop-small) {
            width: 15rem;
            margin-bottom: 1.5rem;
        }
    }

    .sub-text--small {
        max-width: 18rem;    
    }
}

.img {
    @media only screen and (max-width: $Desktop-small) {
        max-width: 35rem;
        margin-right: 3.5rem;
    }

    @media only screen and (max-width: $Tablet) {
        max-width: 27rem;  
    }

    @media only screen and (max-width: $Tablet-small) {
        max-width: 25rem; 
        margin: 0 auto; 
    }

    @media only screen and (max-width: $Mobile-phone) {
        width: 15rem;
    }
}

.img-devices {
    @media only screen and (max-width: $Mobile-phone) {
        margin-bottom: 5rem;
    }
}

