*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    //this defines what 1rem is
    font-size: 112.5%; //1rem = 18px; 18px/16px = 112.5%
}

body {
    width: 100vw;
    background-color: hsl(201, 11%, 95%);
}

