body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

.main-text {
    font-size: 2rem;
    font-weight: 600;
    color: $color-gray-dark;

    @media only screen and (max-width: $Tablet-small) {
        margin: 0 auto;
        font-size: 1.5rem;
        width: 25rem;
    }


    @media only screen and (max-width: $Mobile-phone) {
        width: 18rem;
    }

    &--2 {
        font-size: 1.5rem;
    }
}

.sub-text {
    font-size: .8rem;
    color: $color-gray-light;
    width: 32rem;
    margin: 0 auto;
    line-height: 1.7;

    @media only screen and (max-width: $Tablet-small) {
        max-width: 25rem;
    }

    @media only screen and (max-width: $Mobile-phone) {
        width: 15rem;

        &__queries {
            margin-bottom: .9rem;
        }
    }

    @media only screen and (max-width: $Mobile) {
        width: 15rem;

        &__queries {
            margin-bottom: .9rem;
        }
    }
}

