.u-margin-bottom-large { margin-bottom: 7rem; }

.u-margin-top-big { margin-top: 4rem; }
.u-margin-bottom-big { margin-bottom: 4rem; }
.u-margin-right-big { margin-right: 4rem; }

.u-margin-top-medium { margin-top: 2.5rem; }
.u-margin-bottom-medium { margin-bottom: 2.5rem; }
.u-margin-left-medium { margin-left: 2.5rem; }

.u-margin-bottom-small { margin-bottom: 1rem; }

.u-margin-bottom-little { margin-bottom: .5rem; }

.u-padding-bottom-small { padding-bottom: .9rem; }

.link-color { &:link,
              &:visited {
                color: $color-white;
              }       
}

.link__footer--color {
  &:link,
  &:visited {
      color: $color-black;
      text-decoration: none;
  }

  &:hover {
      color: $color-primary;
  }
}
